BASE_URL
DASHBOARD_TOKEN
DB_HOST
DB_NAME
DB_PASSWORD
DB_PORT
DB_USER
CLOUD_THINK_MODEL
CLOUD_THINK_PROVIDER
CLOUD_MODEL_TIMEOUT_S
GROQ_API_KEY
LLM_PROVIDER
LLM_LOCAL_URL
LLM_MODEL_LOCAL
LLM_PEER_CANDIDATES
LLM_CLOUD_BASE_URL
LLM_CLOUD_API_KEY
LLM_MODEL_CLOUD
SMART_CLOUD_ROUTING
CLOUD_LLM_SANITIZE
CLOUD_LLM_TOOLS
LLM_LOCAL_MODEL_URL
LLM_LOCAL_MODEL_FILE
LLM_LOCAL_THREADS
LLM_LOCAL_CTX
LLM_LOCAL_PREDICT
LLM_LOCAL_CACHE_RAM
LLM_LOCAL_NO_MMAP
LLM_LOCAL_MLOCK
LLM_LOCAL_MEM_LIMIT
LLM_LOCAL_BATCH
LLM_LOCAL_PARALLEL
LLM_PROFILE_OVERRIDE
OPENAI_API_KEY
PLANKA_ADMIN_EMAIL
PLANKA_ADMIN_PASSWORD
PLANKA_BASE_URL
QDRANT_API_KEY
QDRANT_HOST
QDRANT_PORT
REDIS_PASSWORD
TELEGRAM_ALLOWED_USER_ID
TELEGRAM_BOT_TOKEN
WHATSAPP_ACCESS_TOKEN
WHATSAPP_ALLOWED_PHONE
WHATSAPP_APP_SECRET
WHATSAPP_PHONE_NUMBER_ID
WHATSAPP_WEBHOOK_VERIFY_TOKEN
TAILSCALE_IP
USER_LOCATION
USER_TIMEZONE
WHISPER_BASE_URL
